.card-collection {
    .card {
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
        }
    }
}

.navigable-tab-widget {
    pre {
        height: 20em;
        overflow-y: auto;
    }
}
